*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
body{
    background-image: url("https://imagekit.io/blog/content/images/2019/12/image-optimization.jpg");
    height:100vh;
    width:100vw;
    padding:0%;
    background-image: rgb(3, 22, 34);
    display:flex;
    justify-content: center;
    align-items: left;
    margin:auto;
}
#register{
    box-shadow: 10px 10px 20px rgb(30, 30, 136);
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    color:white;
    padding: 10px;
}
#register h1,h3{
    font-size: smaller;
    margin:0px;
    color:black;
}
.input_ele input{
  
    margin:15px;
    text-align: left;
    padding: 2px;
    width:350px;
    outline:none;
    border-style: none none solid none;
    border-color: gray;
    border-width: 1px;
}
.input_ele select{
    margin:10px;
    width:350px;
    border-style : none none solid none;
    border-color : gray;
    padding : 2px;
    color :dimgrey;
    outline:none;
    

}
.context{
    display: flex;
    margin:0px ;
    color:rgb(97, 89, 89);
 
    
}

.register_btn button{
    padding:7px 10px;
    margin:5px 10px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    color:white;
    background-color: blue;
    
}
.register_btn button:hover{
    background-color: blue;
    box-shadow: 3px 3px 3px rgb(171, 171, 245);
}