*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
 }
 
 body{
     height:100vh;
     width: 100vw;
     background-image: linear-gradient(to bottom,rgb(238, 104, 182),rgb(48, 135, 131),rgb(0, 179, 255));
     display: flex;
     justify-content: center;
     align-items: center;
     
    
 
 }
 
 .register_form{
     box-shadow: 10px 10px 20px rgb(30, 30, 136);
     height: 500px;
     width: 500px;
     border-radius: 10px;
     color:white;
     padding: 20px;
 }
 
 #register h1{
     text-align: center;
     margin:10px;
 }
 
 .input_ele input{
  
     margin:7px;
     padding: 10px;
     width: 380px;
     border-radius: 5px;
     border-style: none;
 
 }
 .context{
     display: flex;
     margin:10px 50px 10px 20px;
     /* border:1px solid rgb(224, 216, 216); */
     
 }
 .context input{
     margin:5px;
 }
 .context p{
     margin:5px;
     font-size: 15px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 
 .register_btn {
     display: flex;
     margin:10px 60px 10px 20px ;
     justify-content: center;
 }
 
 .register_btn button{
      padding:7px 10px;
      margin:5px 10px;
      border-radius: 5px;
      border-style: none;
      font-weight: bold;
      background-color: green;
 
 
 }
 
 .register_btn button:hover{
     background-color: rgb(88, 171, 88);
 }
 .login_link{
    text-align: center;
    padding: 0px;
 }
 
 
 